@media (max-width: 1100px) {
    body.article-reader-page {
    height: 100vh;
    margin: 0;
    overflow: hidden; /* 防止最外層出現雙捲軸 */
    display: flex;
    flex-direction: column;
    }
 /*article文章上面標頭列*/   
    .reader-top-bar {
        flex-shrink: 0;
        height: 64px;
        background: white;
        border-bottom: 1px solid var(--reader-border);
        display: flex;
        align-items: center;
        flex-wrap: nowrap !important; 
        justify-content: space-between;
        padding: 0 20px;
        z-index: 1000;
    }
    .note-editor {
      height: 48vh;
      min-height: 380px;
    }
}
/* 基本 */
body.article-reader-page {
  height: 100vh;
  margin: 0;
  overflow: hidden; /* 防止最外層出現雙捲軸 */
  display: flex;
  flex-direction: column;
}
